## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [40]:
# Your code here
universe=[]
sample_list_1=[]

for i in range(101):
    universe.append(i)
    
#print(universe)

sample_list_1=random.sample(universe,80)
print(sample_list_1)

[27, 28, 3, 29, 13, 86, 58, 5, 9, 4, 34, 20, 68, 11, 70, 65, 59, 93, 39, 0, 88, 82, 25, 69, 56, 50, 67, 12, 75, 32, 97, 43, 31, 1, 79, 7, 37, 6, 62, 100, 89, 57, 21, 26, 96, 23, 94, 45, 63, 71, 41, 8, 46, 80, 33, 85, 19, 77, 15, 2, 40, 73, 10, 87, 52, 17, 30, 24, 48, 90, 22, 35, 74, 47, 92, 16, 38, 18, 78, 53]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [57]:
# Your code here
set1=set(sample_list_1)
print(set1)
print(len(set1))

print("Yes, the length of the set is 80")

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 43, 45, 46, 47, 48, 50, 52, 53, 56, 57, 58, 59, 62, 63, 65, 67, 68, 69, 70, 71, 73, 74, 75, 77, 78, 79, 80, 82, 85, 86, 87, 88, 89, 90, 92, 93, 94, 96, 97, 100}
80
Yes, the length of the set is 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [51]:
# Your code here

sample_list_2=[random.randrange(0, 101) for i in range(80)]


print(sample_list_2)

print(len(sample_list_2))

[11, 91, 98, 65, 64, 22, 8, 6, 87, 96, 44, 24, 49, 66, 2, 6, 64, 72, 53, 47, 89, 32, 19, 45, 67, 74, 78, 47, 90, 88, 86, 21, 28, 15, 85, 32, 68, 72, 41, 16, 82, 11, 14, 14, 1, 27, 86, 28, 15, 71, 19, 87, 25, 92, 3, 41, 52, 26, 61, 54, 18, 60, 72, 84, 36, 35, 40, 73, 85, 22, 48, 60, 78, 83, 90, 89, 3, 41, 14, 72]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [52]:
# Your code here
set2=set(sample_list_2)
print(set2)
print("the length of set 2 is ", len(set2))

{1, 2, 3, 6, 8, 11, 14, 15, 16, 18, 19, 21, 22, 24, 25, 26, 27, 28, 32, 35, 36, 40, 41, 44, 45, 47, 48, 49, 52, 53, 54, 60, 61, 64, 65, 66, 67, 68, 71, 72, 73, 74, 78, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 96, 98}
the length of set 2 is  56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [54]:
# Your code here
set3=set1-set2
print(set3)
print(len(set3))

{0, 5, 9, 10, 12, 13, 20, 30, 33, 34, 37, 39, 42, 46, 50, 51, 55, 56, 57, 58, 59, 62, 63, 69, 75, 76, 79, 80, 81, 93, 94, 95, 97, 99, 100}
35

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [55]:
# Your code here
set4=set2-set1
print(set4)
print(len(set4))

{65, 35, 67, 40, 73, 45, 14, 82, 85, 54, 91}
11

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [58]:
# Your code here
set5=set1.intersection(set2)
print(set5)
print(len(set5))

{1, 2, 3, 6, 8, 11, 15, 16, 18, 19, 21, 22, 24, 25, 26, 27, 28, 32, 35, 40, 41, 45, 47, 48, 52, 53, 65, 67, 68, 71, 73, 74, 78, 82, 85, 86, 87, 88, 89, 90, 92, 96}
42

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [64]:
# Your code here

list=[len(set1), len(set2), len(set3), len(set4), len(set5)]
print(list)

for k in list:
    if len(set1)>k:
        print("set 1 is bigger than ", k)
    else: 
        print("set 1 is smaller than ", k)

[80, 56, 35, 11, 42]
set 1 is smaller than  80
set 1 is bigger than  56
set 1 is bigger than  35
set 1 is bigger than  11
set 1 is bigger than  42

#### Create an empty set called `set6`.

In [65]:
# Your code here
set6=set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [66]:
# Your code here
set6.update(set3)
print("1st update",set6)
set6.update(set5)
print("2nd update", set6)

1st update {0, 5, 9, 10, 12, 13, 20, 30, 33, 34, 37, 39, 42, 46, 50, 51, 55, 56, 57, 58, 59, 62, 63, 69, 75, 76, 79, 80, 81, 93, 94, 95, 97, 99, 100}
2nd update {0, 1, 2, 3, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 37, 39, 40, 41, 42, 45, 46, 47, 48, 50, 51, 52, 53, 55, 56, 57, 58, 59, 62, 63, 65, 67, 68, 69, 71, 73, 74, 75, 76, 78, 79, 80, 81, 82, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 99, 100}

#### Check if `set1` and `set6` are equal.

In [69]:
# Your code here
print("is set1 and set 6 equal?")
print(set1==set6)

print(set1)
print(set6)

is set1 and set 6 equal?
False
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 43, 45, 46, 47, 48, 50, 52, 53, 56, 57, 58, 59, 62, 63, 65, 67, 68, 69, 70, 71, 73, 74, 75, 77, 78, 79, 80, 82, 85, 86, 87, 88, 89, 90, 92, 93, 94, 96, 97, 100}
{0, 1, 2, 3, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 37, 39, 40, 41, 42, 45, 46, 47, 48, 50, 51, 52, 53, 55, 56, 57, 58, 59, 62, 63, 65, 67, 68, 69, 71, 73, 74, 75, 76, 78, 79, 80, 81, 82, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 99, 100}

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [71]:
# Your code here
print('is set2 a subset of set1?')
print(set1.issubset(set2))

is set2 a subset of set1?
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [77]:
# Your code here
set3_4_5=set3.union(set4, set5)#.union(set5)
print(set3_4_5)

{0, 1, 2, 3, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 37, 39, 40, 41, 42, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 62, 63, 65, 67, 68, 69, 71, 73, 74, 75, 76, 78, 79, 80, 81, 82, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [81]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [82]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for m in list_to_remove:
    if m in set1:
        set1.remove(m)
        
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 37, 38, 40, 43, 45, 46, 47, 48, 50, 52, 53, 56, 57, 58, 62, 63, 65, 67, 68, 70, 73, 74, 75, 77, 78, 80, 82, 85, 86, 87, 88, 90, 92, 93, 94, 96, 97, 100}